@import "../variables";

.breadcrumbContainer {
  @include flexRow($justify: flex-start);
  // @include ptSm();
  @include mbSm();
  .item {
    margin: 0 0.2rem;
    color: $lightGray;
    @include smallText();
    @include toggleFade();
  }
  .changeColor:hover {
    color: $sub;
  }

  .torightArrow {
    padding-bottom: 0.2rem;
  }
}
