@import "../variables";

.headerContainer {
  @include flexRow($justify: space-between);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  backdrop-filter: blur(4px);
  width: 100%;
  @include ptSm;
  padding-right: 0.5rem;
  @include mq(md) {
    background-color: $subTrans;
  }
}

.svgLogo {
  cursor: pointer;
  fill: $basicWhite;
  margin-left: 0.2rem;
  padding: 0.2rem;
  @include toggleFade();

  &:hover {
    fill: $accent;
  }
}

.headerItem {
  // display: none;

  @include mq(md) {
    display: block;
    @include flexRow($justify: space-around);
  }

  .pcMenu {
    display: none;
    @include mq(md) {
      display: block;
      @include flexRow($justify: space-around);
      list-style-type: none;
      li {
        margin: 0 1rem;
      }
      a {
        color: $basicWhite;
        @include boldParagrah;
        @include toggleFade;
      }
      a:hover {
        color: $accent;
      }
    }
  }

  .contactBtn {
    background-color: $basicWhite;
    color: $base;
    @include borderRadius;
    padding: 0.5rem 0.8rem;
    text-align: center;
    @include boldParagrah;
    @include toggleFade;
    transition: all 0.5s;

    &:hover {
      background-color: $accent;
    }
  }
}

.btnContainer {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 999;

  @include mq(md) {
    display: none;
  }

  .humMenuBtn {
    outline: none;
    border: none;
    background-color: $sub;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    .humburger {
      @include mCenter();

      span {
        width: 66%;
        height: 7px;
        background-color: $basicWhite;
        position: absolute;
        top: 22%;
        left: 16%;
        @include borderRadius;
      }
      span:nth-child(2) {
        top: 45%;
      }
      span:nth-child(3) {
        top: 69%;
      }
    }
  }
}

.drawerMenu {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $base;
  z-index: 5;
  @include mq(md) {
    display: none;
  }

  .ul {
    padding-top: 4rem;
    list-style-type: none;
    padding-left: 0;

    li {
      a {
        color: $sub;
      }

      .menuText {
        @include linkBtn();
      }
    }
  }
}
