@import "../variables";

.sectionContainer {
  @include sectionContainer();
}

.sectionTitle {
  @include sectionTitle;
}

.flowContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  @include mtMd();
  @include mbMd();
  align-items: stretch;

  @include mq(md) {
    padding: 0;
    grid-template-columns: repeat(auto-fill, 335px);
  }
}

.flowItem {
  padding: 0.5rem 1rem;
  @include border($color: $sub);

  h3 {
    @include pbSm();
    color: $sub;
  }
  ul {
    padding-left: 20px;
    li {
      @include smallText();
      list-style-type: circle;
    }
  }
}
