@import "variables";

.ttlWrapper {
  display: block;
  .sectionTitle {
    @include sectionTitle();
    .subscriptJp {
      @include subscriptJp();
    }
  }
  @include mq(sm) {
    grid-template-columns: 1fr;
  }
}

.subTitle {
  @include subTitle();
}

.container {
  margin: 1rem auto 1rem auto;
  width: 100%;
  // min-height: 100vh !important;

  @include mq(lg) {
    width: 90%;
  }

  .gridWrapper {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
    justify-content: center;

    @include mq(lg) {
      grid-template-columns: repeat(2, 300px);
      gap: 30px;
    }
    @include mq(sm) {
      grid-template-columns: repeat(1, 300px);
    }
  }
}
