@import 'variables';

.container {
  margin: 10rem auto 5rem auto;
  width:100%;
  min-height: 100vh !important;

  @include mq(lg) {
    width: 90%;
  }

  .gridWrapper {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
    justify-content: center;

    @include mq(lg) {
      grid-template-columns: repeat(2, 300px);
      gap: 30px;
    }
    @include mq(sm) {
      grid-template-columns: repeat(1, 300px);
    }
    
  }
}