@import 'variables';



.sectionContainer {
  @include sectionContainer();
  margin: 23rem auto;
  
  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitle();
      .subscriptJp {
        @include subscriptJp();
      }
    }
  }
  .subTitle {
    @include subTitle();
  }

  .formContainer {
    @include noWrapFlex($fd:column);

      > input {
      margin: 1rem auto;
    }
  }

}