@import "variables";

.sectionContainer {
  @include sectionContainer();

  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitle();
      .subscriptJp {
        @include subscriptJp();
      }
    }
  }
  .subTitle {
    @include subTitle();
  }

  .formContainer {
    @include noWrapFlex($fd: column);
    max-width: 600px;
    margin: 1rem auto;

    .inputBox {
      width: 100%;
      margin: 1rem 0;
      position: relative;

      & > p {
        margin: 0.5rem 0;
        background-color: $white;
        color: $black;
        padding: 0.3rem 0.5rem;
        border-radius: 0.1rem;
        display: inline-block;
        @include h3Jp();
        font-weight: 700;
      }

      & > input {
        width: 100%;
        padding: 1rem 0.5rem;
        border-radius: 0.2rem;
        font-size: 1rem;
        background-color: $black;
        transition: all 0.2s;
        border: 1px solid $white;
        color: $white;
        @include body();

        // &:focus {
        //   // background-color: $lightGray;
        // }
      }
    }

    .textAreaBox {
      width: 100%;

      & > p {
        margin: 0.5rem 0;
        background-color: $white;
        color: $black;
        padding: 0.3rem 0.5rem;
        border-radius: 0.1rem;
        display: inline-block;
        @include h3Jp();
        font-weight: 700;
      }

      & > textarea {
        width: 100%;
        height: 180px;
        background: $black;
        padding: 1rem 0.5rem;
        border-radius: 0.2rem;
        border: 1px solid $white;
        color: $white;
        @include body();
        font-size: 0.95rem;
      }
    }
  }
}

.validation {
  color: $main;
  // position: absolute;
  // bottom: -20%;
  // left: 0;
}

.must {
  color: $main;
}

.linkBtnWrapper {
  margin: 2rem auto;
  border: 1px solid $accent;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  color: $accent;
  padding: 0.8rem 2rem;
  letter-spacing: 0.1rem;
  background-color: $black;
  @include subtitle();
  transition: all 0.3s;
  font-weight: 700;

  &:hover {
    background-color: $accent;
    color: $black;
  }
}
