@import "variables";

.btnWrapper {
  text-align: center;
  margin: 2rem auto 0 auto;
  padding-bottom: 2rem;
}

.ttlWrapper {
  display: block;
  .sectionTitle {
    @include sectionTitle();
    .subscriptJp {
      @include subscriptJp();
    }
  }
  @include mq(sm) {
    grid-template-columns: 1fr;
  }
}
.subTitle {
  @include subTitle();
}
