@import 'variables';


.sectionContainer {
  @include sectionContainer();
  
  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitle();
      .subscriptJp {
        @include subscriptJp();
      }
    }
  }
  .subTitle {
    @include subTitle-en();
    margin-bottom: 3rem;
    @include mq(sm) {
      margin-top: 0
    }
  }

  
  .sectionInner {
    @include sectionInner();
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem auto;

    
    .noWrapFlex{
      @include noWrapFlex($fd: column);
      border: 2px solid $white;
      margin: auto;
      max-width: 530px;
      border-radius: 0.2rem;
      padding:3rem;

      @include mq(sm) {
        padding:1.5rem;
      }
    > div > p {
        margin:2rem auto 2rem auto;
        text-align: left;
      }
    }
  }
}