@import "variables";

.innerLayout {
  @include sectionContainer();

  @include mq(md) {
    max-width: 944px;
  }
}

.contentWrapper {
  font-family: sans-serif;
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
  h1 {
    font-size: 1.85rem;
  }
  h2 {
    color: $base;
    background-color: $basicWhite;
    // @include border($color: $sub);
    font-size: 1.7rem;
    padding: 0.3rem 0.5rem;
    line-height: 2.5rem;
    @include mbSm();
    @include mtMd();
    @include borderRadius();
  }
  h3 {
    font-size: 1.45rem;
    color: $sub;
    padding: 0.3rem;
    @include mbSm();
    @include mtSm();
  }
  h4 {
    font-size: 1.3rem;
    color: $sub;
    padding: 0.3rem;
    @include mbSm();
    @include mtSm();
  }
  ul {
    padding: 0.5rem;
    padding-left: 2rem;
    @include border($color: $basicWhite);
    // background-color: $lightGray;
    border-style: dotted;
    @include borderRadius();
    font-weight: bolder;
    color: $basicWhite;
    li {
      list-style-type: circle;
      line-height: 2.3rem;
      margin: 0.5rem 0;
    }
  }
  @include mq(md) {
    max-width: 775px;
    @include mCenter();
  }
}
.sumally {
  @include mbLg();
  .date {
    @include ptSm();
    @include smallText();
    color: $sub;
  }
}
.tag {
  @include tag();
}
.contentWrapper {
  @include mtMd();
  @include mbMd();
}

.richEditor {
  img {
    @include mCenter();
    max-width: 100%;
    overflow-x: hidden;
  }
  p {
    @include mtSm();
  }
}
