@import "variables";

.innerLayout {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0 2rem 0;
  background-color: rgba(18, 18, 18, 0.97);
  backdrop-filter: blur(2px);

  @include mq(lg) {
    padding: 0 1.5rem;
  }
}

.innerWrapper {
  margin: 1rem auto 1rem auto;
  max-width: 900px;

  @include mq(lg) {
    padding: 0 1rem;
  }
  @include mq(sm) {
    padding: 0;
  }

  .eyeCatch {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .sumallyWrapper {
    max-width: 810px;
    width: 100%;
    margin: 1rem auto;

    @include mq(lg) {
      padding: 0 1.8rem;
    }
    @include mq(sm) {
      padding: 0;
    }

    .title {
      margin: 1rem 0 0.5rem 0;
    }

    .categoryTag {
      @include categoryTag();
    }

    .date {
      @include subtitle();
    }
  }
}
