@import "variables";

.sectionContainer {
  @include sectionContainer();

  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitle();
      .subscriptJp {
        @include subscriptJp();
      }
    }
    @include mq(sm) {
      grid-template-columns: 1fr;
    }
  }
  .subTitle {
    @include subTitle();
  }

  .sectionInner {
    @include sectionInner();
    margin: 1rem auto 4rem auto;

    .twoColumns {
      display: grid;
      gap: 10px;
      align-items: center;
      grid-template-columns: 1fr minmax(30%, 220px);
      background-color: $black;
      border-radius: 0.5rem;
      color: $white;
      padding: 0.5rem;

      @include mq(sm) {
        grid-template-columns: 1fr;
        // align-items: center;
        text-align: center;
      }

      .innerTwoColumns {
        display: grid;
        gap: 10px;
        grid-template-columns: minmax(25%, 190px) 1fr;

        @include mq(md) {
          grid-template-columns: 1fr;
          justify-content: center;
        }
        .noWrapFlex {
          @include noWrapFlex(
            $fd: column,
            $justify: flex-start,
            $align: flex-start
          );

          > h4 {
            @include h4En();
            margin: 0;
          }
        }
      }
    }

    .socialLinkWrapper {
      @include noWrapFlex($fd: column);
      width: 100%;

      & a {
        width: 100%;
        margin: 0.8rem auto;
      }
      .socialLinkItem {
        @include noWrapFlex($fd: row, $justify: space-between);
        background-color: $white;
        color: $black;
        width: 100%;
        border-radius: 0.1rem;
        @include h4En();
        letter-spacing: 0.1rem;
        padding: 0 2rem;

        > p {
          margin: 0.8rem 0;
        }
      }
    }
  }
}
