@import 'variables';



.sectionContainer {
  @include sectionContainer();
  
  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitle();
      .subscriptJp {
        @include subscriptJp();
      }
    }      
    @include mq(sm) {
        grid-template-columns: 1fr;
      }
  }
  .subTitle {
    @include subTitle();
  }


  
  .sectionInner {
    @include sectionInner();

    .twoColumns {
      display: grid;
      gap: 10px;
      align-items: center;
      grid-template-columns: 1fr  minmax(30%, 220px);
      background-color: $white;
      border-radius: 0.5rem;
      color: $black;
      padding: 0.5rem;

      @include mq(sm) {
        grid-template-columns: 1fr;
        // align-items: center;
        text-align: center;
      }

      .innerTwoColumns {
        display: grid;
        gap: 10px;
        grid-template-columns: minmax(25%, 190px) 1fr ;

        @include mq(sm) {
          grid-template-columns: 1fr;
          justify-content: center;
        }
        .noWrapFlex {
          @include noWrapFlex($fd:column , $justify: flex-start , $align:flex-start);
          
          > h4 {
            @include h4En();
          }
        }
      }
    }

    .socialLink {
      @include noWrapFlex($fd:column);
      >div {
        width: 100%;
        height: 50px;
        background-color: aqua;
        margin: 1rem 0;
      }
    }
  }
}