@import 'variables';

.firstViewContainer {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  overFlow: hidden;
  margin: auto;
  z-index: -123;
  background: $black;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  

  .firstviewImage {
    margin: auto;
  }
}