@import "variables";

.firstViewContainer {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  background: $black;
  user-select: none;
  display: flex;
  z-index: -1;
  .firstviewImage {
    margin: auto;
    padding-top: 5rem;
  }

  @include mq(sm) {
    padding: 0 4rem;
    .firstviewImage {
      padding-top: 4rem;
    }
  }
}
