@import 'variables';



.sectionContainer {
  @include sectionContainer();
  
  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitle();
      .subscriptJp {
        @include subscriptJp();
      }
    }
  }
  .subTitle {
    @include subTitle();
  }


  
  .sectionInner {
    @include sectionInner();
    .twoColumns {
      display: grid;
      gap: 20px;
      align-items: center;
      grid-template-columns: 1fr  minmax(30%, 200px);

      @include mq(sm) {
        grid-template-columns: 1fr;
      }
      .r {
        text-align: right;

        @include mq(sm) {
          text-align: center;
        }
      }

    }
  }
}