@import "variables";

.sectionContainer {
  @include sectionContainer();

  @include mq(sm) {
    padding-top: 8rem;
  }

  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitleJp();
    }
  }

  .sectionInner {
    margin: 5rem auto;
  }

  .summary {
    @include responsiveGrid();
    margin: 1rem auto 4rem auto;
    align-items: center;
    @include mq(lg) {
      gap: 10px;
    }
  }

  .jamstackLogo {
    text-align: center;
    @include mq(sm) {
      padding: 0 2rem;
    }
  }
  .innerTopic {
    margin-top: 2rem;
  }

  .diff {
    margin: 5rem auto;

    .diffContent {
      @include responsiveGrid();
      margin: 2rem auto;
    }
  }

  .shouldbe {
    .shouldbeContent {
      margin: 3rem auto 5rem auto;
      @include responsiveGrid();
      justify-content: space-around;
      .imageWrapper {
        text-align: center;
        width: 55%;
        margin: auto;

        @include mq(sm) {
          width: 55%;
          margin-top: 2rem;
        }
      }
    }
  }

  .melitDemelitContent {
    @include noWrapFlex($fd: column, $align: flex-start);
    margin: 2rem 0 1rem 0;

    // @include mq(sm) {
    //   align-items: center;
    // }
  }

  .cta {
    @include responsiveGrid();
    justify-content: space-between;

    > div {
      @include wrapFlex($fd: row);
    }
  }

  h3 {
    @include subTitle();
  }

  ul {
    padding-left: 2rem;

    li {
      list-style-type: disc;
      margin: 0.5rem 0;
    }
  }
}
