@import "variables";

.sectionContainer {
  @include sectionContainer();

  @include mq(sm) {
    max-width: 100%;
  }

  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitleJp();
    }
  }

  .sectionInner {
    margin: 5rem auto;
    max-width: 90%;

    @include mq(sm) {
      margin: 2rem auto 4rem auto;
      max-width: 100%;
    }
  }

  .summary {
    @include responsiveGrid();
    margin: 1rem auto 4rem auto;
    align-items: center;
    @include mq(lg) {
      gap: 10px;
    }
  }

  .jamstackLogo {
    text-align: center;
    @include mq(sm) {
      padding: 0 2rem;
    }
  }
  .innerTopic {
    margin-top: 2rem;
  }

  .diff {
    margin: 1rem auto;
    h3 {
      margin: 4.5rem 0 1rem 0;
    }
    .diffContent {
      @include responsiveGrid();
      margin: 0 auto;
      gap: 20px;

      @include mq(lg) {
        .gridReverse {
          text-align: center;
          grid-row: 1;
          grid-column: 1;
        }
      }
    }
  }

  .shouldbe {
    .shouldbeContent {
      margin: 3rem auto 5rem auto;
      // @include responsiveGrid();
      justify-content: space-around;
      .imageWrapper {
        text-align: center;
        width: 55%;
        margin: auto;

        @include mq(sm) {
          width: 55%;
          margin-top: 2rem;
        }
      }
    }
  }

  .melitDemelitContent {
    @include noWrapFlex($fd: column, $align: flex-start);
    margin: 2rem 0 1rem 0;
  }

  .cta {
    @include responsiveGrid();
    justify-content: space-between;

    > div {
      @include wrapFlex($fd: row);
    }
  }

  h3 {
    @include subTitle();
  }

  ul {
    padding-left: 2rem;

    li {
      list-style-type: disc;
      margin: 0.5rem 0;
    }
  }
}
