@import "variables";

.sectionContainer {
  @include sectionContainer();

  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitle();
      .subscriptJp {
        @include subscriptJp();
      }
    }
  }
  .subTitle {
    @include subTitle();
  }

  .sectionInner {
    @include sectionInner();

    .twoColumns {
      margin: 2rem auto;
      display: grid;
      gap: 0px;
      align-items: center;

      @include mq(lg) {
        margin: 4rem auto;
        grid-template-columns: 1fr;
        gap: 30px;
      }

      .scrollTextWrapper {
        position: relative;
        ::after {
          position: absolute;
          top: -35px;
          left: 0;
          content: "";
          color: $black;
          background-color: $white;
          padding: 0.2rem 0.5rem;
          font-size: 1.2rem;
          @include enfonts();
        }

        @include mq(sm) {
          padding: 0 1rem;

          ::after {
            left: 4.8%;
            top: -36px;
          }
        }
      }
    }

    .twoColumns:nth-child(1) {
      grid-template-columns: 1fr minmax(50%, 580px);

      @include mq(lg) {
        @include noWrapFlex($fd: column-reverse);
      }

      .scrollTextWrapper {
        ::after {
          content: "Performance";
        }
      }
    }
    .twoColumns:nth-child(2) {
      grid-template-columns: minmax(50%, 580px) 1fr;

      @include mq(lg) {
        grid-template-columns: 1fr;
      }

      .scrollTextWrapper {
        ::after {
          content: "Security";
        }
      }
    }

    .scrollText {
      border: 3px solid $white;
      border-radius: 0.2rem;
      box-sizing: border-box;
      height: 400px;
      overflow: auto;
      padding: 0.8rem;
    }
  }
}
