@import "variables";

.sectionContainer {
  @include sectionContainer();

  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitle();
      .subscriptJp {
        @include subscriptJp();
      }
    }
  }
  .subTitle {
    @include subTitle();
  }

  .sectionInner {
    @include sectionInner();

    .twoColumns {
      display: grid;
      gap: 50px;
      grid-template-columns: 1fr minmax(25%, 300px);
      align-items: center;

      .imageInner {
        border-radius: 0.2rem;
      }

      @include mq(sm) {
        flex-direction: column-reverse;
        // margin-bottom: 2rem;

        .image {
          text-align: center;
          grid-row: 1;
          grid-column: 1;
        }

        p {
          margin: 1rem auto 2rem auto;
        }

        grid-template-columns: 1fr;
        gap: 0px;
      }
    }
  }
}
