@import 'variables';



.sectionContainer {
  @include sectionContainer();
  
  .ttlWrapper {
    display: block;
    .sectionTitle {
      @include sectionTitle();
      .subscriptJp {
        @include subscriptJp();
      }
    }
  }
  .subTitle {
    @include subTitle();
  }


  .sectionInner {
    @include sectionInner();

    .twoColumns {
      display: grid;
      gap: 20px;
      align-items: center;
      grid-template-columns: minmax(50%, 598px) 1fr;
    }
  
   .noWrapFlex {
     @include noWrapFlex($fd: column , $align: flex-end);
     text-align: right;
  }
 }
}