@import "variables";

.firstViewContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstviewImage {
  margin: auto;
  width: 75%;
  text-align: center;
  @include ptLg();
}
