@import "variables";

.cardContainer {
  @include mtLg();
  @include mbLg();
  @include grid();
  @include gapMd();
}

.card {
  background-color: $base;
  @include borderRadius;
  padding: 0.2rem;
  @include border($color: $sub);
}

.eyeCatchImg {
  @include borderRadius;
}

.sumallyWrapper {
  color: $sub;

  padding: 1rem 0.5rem;
  .tag {
    background: $sub;
    color: $base;
    @include boldParagrah();
    display: inline-block;
    @include borderRadius;
    padding: 0.1rem 0.5rem;
  }
  h1 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: $sub;
    min-height: 70px;
    max-height: 70px;
  }
  .date {
    @include boldParagrah();
  }
}
