@import "variables";

.headerContainer {
  max-width: 100%;
  margin: 0;
  background-color: rgba(243, 149, 35, 0.066);
  // background-color: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(2px);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.headerBox {
  @include noWrapFlex($justify: space-between, $align: center);
  padding: 0.5rem 0.8rem;

  @include mq(sm) {
    padding: 0.5rem 0.3rem;
  }

  .pcContent {
    @include noWrapFlex($fd: row, $justify: space-around, $align: center);
    // flex-grow: 1;

    @include mq(md) {
      display: none;
    }
  }
  .headerLogo {
    @include noWrapFlex($fd: row, $align: center);
    & > p {
      padding-left: 1rem;
    }
  }

  .headerItem {
    > ul {
      @include noWrapFlex($justify: space-around, $align: center);
      > li {
        margin: 0 1rem;

        .menuItem {
          transition: all 0.2s;
          @include h4En($fz: 1rem);
          letter-spacing: 0.1rem;
          font-weight: 500;

          &:hover {
            color: $main;
          }
        }

        .contactBtn {
          padding: 0.5rem 1rem;
          border-radius: 0.1rem;
          @include h4En($fz: 1rem);
          letter-spacing: 0.1rem;
          font-weight: 500;
          border: 1px solid $main;
          color: $main;
          transition: ease-in-out;

          &:hover {
            border: 1px dashed $main;
          }
        }
      }
    }
  }
}

.container {
  position: fixed;
  bottom: 1%;
  right: 5%;
  z-index: 1111;
}

.humMenuBtn {
  display: none;
  cursor: pointer;
  @include mq(md) {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $main;
    border-radius: 50%;
    outline: none;
    border: none;

    .humburger {
      > span {
        position: absolute;
        top: 0;
        left: 0;
        background: $black;
        width: 70%;
        height: 4px;
        transition: all 0.2s;
        border-radius: 0.2rem;
      }
      > span:nth-child(1) {
        top: 25%;
        left: 15%;
      }
      > span:nth-child(2) {
        top: 48%;
        left: 15%;
      }
      > span:nth-child(3) {
        top: 70%;
        left: 15%;
      }

      .open {
        transform: rotate(45deg);
      }
    }
  }
}

.drawerMenu {
  .ul {
    padding-top: 8rem;
  }

  @include mq(md) {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $black;
    width: 100%;
  }
}

.svgLogo {
  fill: #f4f4f4;
  transition: all 0.3s;

  &:hover {
    fill: $main;
  }
}
.box {
  width: 100px;
  z-index: 3354;
  height: 100px;
  background-color: $accent;
}

.menuText {
  border: 1px $main;
  border-style: solid;
  display: inline-block;
  padding: 0.5rem;
  color: $main;
  transition: all 0.5s;

  &:hover {
    border-style: dashed;
  }
}
