@import "variables";

.categoriesContainer {
  max-width: 500px;
  margin: 3rem auto;
  color: $white;
}

.categoriesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .categoryItem {
    .categoryName {
      border: 1px solid $white;
      text-align: center;
      @include h3Jp();
      padding: 1rem;
      color: $white;
      transition: all 0.2s;
      border-radius: 0.3rem;

      &:hover {
        border-color: $accent;
        color: $accent;
      }
    }
  }
}
