@import "variables";

.footer {
  background-color: $black;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 1rem 0;
}
.noWrapFlex {
  width: 100%;
  margin: 0;
  padding: 1rem;
  @include noWrapFlex($fd: column, $justify: right, $align: center);

  .footerLogo {
    max-width: 230px;
    cursor: pointer;
    @include mq(sm) {
      width: 50%;
      padding: 1rem 0 0.5rem 0;
    }
  }

  @include mq(sm) {
    @include noWrapFlex($fd: column);
    padding: 0;
  }

  .copylight {
    @include subtitle-sm();
    padding-right: 1rem;
  }
}
