@import "variables";

.paginationWrapper {
  @include noWrapFlex($justify: center);
  margin: 5rem auto 2rem auto;
  max-width: 500px;

  @include mq(sm) {
    flex-wrap: wrap;
  }

  .paginationItem {
    // width: 50%;
    margin: 1rem;
    @include noWrapFlex();

    @include mq(sm) {
      width: 100%;
      margin: 1rem auto;
    }
  }
}

.prevPageBtn {
  @include pagerBtn($direction: "left");
}

.nextPageBtn {
  @include pagerBtn($direction: "right");
}
