@import "variables";

.shareWrapper {
  text-align: center;
  @include mCenter();
  @include mtLr();
  @include mbMd();

  span {
    color: $basicWhite;
    @include h4();
  }
}

.shareBtns {
  @include mtSm();
  @include flexRow();

  .item {
    margin: 0.5rem;
  }
}
