@import "variables";
html {
  font-size: 15px;
  background: $base;
  color: $basicWhite;
  font-family: "Zen Kaku Gothic New", "MuseoModerno", sans-serif;
  letter-spacing: 0.07rem;
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  @include h1();
}
h2 {
  @include h2();
}
h3 {
  @include h3();
}
h4 {
  @include h4();
}
p {
  @include normalParagraph();
}
