@import 'variables';

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02rem;
  background-color: $black;
  color: $white;
  z-index: 1;
  max-width: 1920px !important;
  width: 100%;
}

a {
  color: $white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,li {
  list-style-type: none;
}