//media queries
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1100px,
);

@mixin mq($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}


//colors
$main: #F39423;
$accent: #80EF7E;

$black: #121212;
$white: #EDEDED;

//gray-scale
$lightGray: #EBEBEB;
$midGray: #8E8E8E;
$deepGray: #4a4a4a;


//fonts
@mixin jpfonts() {
  font-family: 'Zen Kaku Gothic New' ,sans-serif;
}

@mixin enfonts() {
  font-family: 'MuseoModerno' ,sans-serif;
}

@mixin h1() {
  @include enfonts();
  font-size:  3rem;
  font-display: optional;
}

@mixin h2En() {
  @include enfonts();
  font-size:  2rem;
}

@mixin h2Jp() {
  @include jpfonts();
  font-size:  2rem;
}

@mixin h3En() {
  @include enfonts();
  font-size:  1.5rem;
}

@mixin h3Jp() {
   @include jpfonts();
  font-size:  1.15rem;
}

@mixin h4En() {
   @include enfonts();
  font-size:  1.25rem;
}

@mixin subtitle() {
  @include jpfonts();
  font-size:  1rem;
}

@mixin subtitle-sm() {
  @include jpfonts();
  font-size:  0.8rem;
  margin: 0;
}
@mixin subtitle-sm-en() {
  @include enfonts();
  font-size:  0.8rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

@mixin body() {
   @include jpfonts();
  font-size:  1rem;
  font-weight:  400;
  line-height: 1.6rem;
}


//spaces

//components
@mixin sectionTitle() {
  @include h2En();
  background: $white;
  color: $black;
  padding: 0.5rem 0.6rem 0 0.6rem;
  text-align: left;
  line-height: 1.6rem;
  display: inline-block !important;
  border-radius: 0.1rem;
}

@mixin subscriptJp() {
  @include subtitle-sm();
  color: $black;
}


@mixin subTitle() {
  @include h3Jp();
  background: $white;
  color: $black;
  padding:0.3rem 0.5rem;
  display: inline-block !important;
  border-radius: 0.2rem;
  text-align: left;
  // font-weight: 700 !important;
}
@mixin subTitle-en() {
  @include h3En();
  background: $white;
  color: $black;
  padding:0.3rem 0.5rem;
  display: inline-block !important;
  border-radius: 0.2rem;
  text-align: left;
  // font-weight: 700 !important;
}

//layouts
@mixin wrapFlex($fd: row, $justify: center, $align: center) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $fd;
  justify-content: $justify;
  align-items: $align;
}

@mixin noWrapFlex($fd: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $justify;
  align-items: $align;
}

@mixin sectionContainer() {
  width: 100%;
  margin: 5rem auto;
}
@mixin sectionInner() {
  max-width: 98%;
  margin: 0 auto;
}

//pager button
@mixin pagerArrow() {
  content: "";
  position: absolute;
  top: 50%;   
  border: 7px solid transparent;
  transform: translateY(-50%);   
}

@mixin pagerBtn($direction: "left") {
  position: relative;
  border: 1px solid $white;
  border-radius: 0.25rem;
  transition: all .2s;
  width: 200px;
  text-align: center;
  display: inline-block;
  padding: 0.5rem;

  &:hover {
    border-color: $accent;
    color: $accent
  }

  @if $direction == "left" {
    padding-left: 1rem;
    &::before {
      @include pagerArrow();
      left: 15%;
      border-right: 10px solid; 
    } 
  } @else if $direction == "right"  {
    padding-right: 1.5rem;
    &::after {
      @include pagerArrow();
      right: 16%;
      border-left: 10px solid;
    }
  }
}
