@import "variables";

.innerLayout {
  @include sectionContainer();

  @include mq(md) {
    max-width: 944px;
  }
}

.contentWrapper {
  p {
    font-size: 1.08rem;
    line-height: 2.3rem;
    letter-spacing: 0.05rem;

    & > span {
      line-height: 0.2rem;
    }
  }

  h1 {
    font-size: 1.85rem;
  }
  h2 {
    display: inline-block;
    font-size: 2.6rem;
    padding: 0.3rem 0;
    line-height: 3rem;
    @include mtLg();
  }
  h3 {
    font-size: 1.45rem;
    color: $base;
    padding: 0.1rem 0.8rem;
    @include mtLg();
    display: inline-block;
    background-color: $basicWhite;
    @include borderRadius();
  }
  h4 {
    font-size: 1.45rem;
    color: $sub;
    padding: 0.3rem;
    @include mbSm();
    @include mtSm();
  }

  ul {
    background-color: #7e8bef21;
    @include ptSm();
    @include borderRadius();
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
    li {
      @include normalParagraph();
      @include ptSm();
    }
  }
  a {
    color: $main;
  }

  @include mq(md) {
    max-width: 775px;
    @include mCenter();
  }
}
.sumally {
  @include mbLg();
  .date {
    @include ptSm();
    @include smallText();
    color: $sub;
  }
}
.tag {
  @include tag();
}
.contentWrapper {
  @include mtMd();
  @include mbMd();
}

.richEditor {
  img {
    @include mCenter();
    max-width: 100%;
    overflow-x: hidden;
    @include borderRadius();
  }
  p {
    @include mtSm();
  }
}
